# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/front/node_modules
/front/.pnp
/front/.pnp.js

/back/node_modules
/back/.pnp
/back/.pnp.js

# testing
/front/coverage
/back/coverage

# production
/front/build
/back/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

/front/npm-debug.log*
/front/yarn-debug.log*
/front/yarn-error.log*

/back/npm-debug.log*
/back/yarn-debug.log*
/back/yarn-error.log*

# Docker-related stuff
/storage/mysql-data/*
!/storage/mysql-data/.gitkeep

.idea/
